body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex; /* Use flexbox for layout */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height to viewport height */
}

#notepad {
  width: 150%; 
  height: 150%; 
  max-width: 800px; /* Set maximum width for larger screens */
  max-height: 600px; /* Set maximum height for larger screens */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: monospace;
  resize: both;
  overflow: auto;
}

.toolbar {
  position: absolute; /* Position toolbar absolutely */
  top: 10px; 
  right: 10px; 
  z-index: 1;
}

.toolbar button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
